Description: PowerCockpit
Maintainer: xcentaurix
Package: enigma2-plugin-systemplugins-powercockpit
Version: 0.2.8
Architecture: all
Conflicts: enigma2-plugin-systemplugins-safepoweroff
Replaces: enigma2-plugin-systemplugins-safepoweroff
